<!--<div [formGroup]="form" (ngSubmit)="submit()">-->
<!--<div [formGroup]="form">-->
<!--  <input type="text" placeholder="firstname" formControlName="firstname">-->
<!--</div>-->

<!--<div [formGroup]="form">-->
<!--  <input type="text" placeholder="lastname" formControlName="lastname">-->
<!--</div>-->

<!--<label [formGroup]="form">-->
<!--  <input type="checkbox" [value]="true" formControlName="active"> Active-->
<!--</label>-->

<!--&lt;!&ndash;  <div formGroupName="userContactInfo">&ndash;&gt;-->
<!--&lt;!&ndash;    <div>&ndash;&gt;-->
<!--&lt;!&ndash;      <input type="text" placeholder="email" formControlName="email">&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <div>&ndash;&gt;-->
<!--&lt;!&ndash;      <input type="text" placeholder="phone" formControlName="phone">&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--<div [formGroup]="form">-->


<!--  <div  formGroupName="userContactInfo">-->
<!--    <input type="text" placeholder="email" formControlName="email">-->
<!--  </div>-->

<!--  <div  formGroupName="userContactInfo">-->
<!--    <input type="text" placeholder="phone" formControlName="phone">-->
<!--  </div>-->
<!--</div>-->


<!--<div>-->
<!--  <button type="submit">Submit</button>-->
<!--</div>-->
<!--</div>-->


<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <input type="text" placeholder="firstname" formControlName="firstname">
    <div *ngIf="form.get('firstname')?.invalid && form.get('firstname')?.touched">
      Firstname is required
    </div>
  </div>

  <div>
    <input type="text" placeholder="lastname" formControlName="lastname"
      [disabled]="form.get('firstname')?.invalid || true">

    <div *ngIf="form.get('lastname')?.invalid && form.get('lastname')?.touched">
      lastname is required
    </div>
  </div>

  <label>
    <input type="checkbox" [value]="true" formControlName="active"> Active
    <div *ngIf="form.get('active')?.invalid && form.get('active')?.touched">
      Active is required
    </div>
  </label>

  <!--  <div formGroupName="userContactInfo">-->
  <!--    <div>-->
  <!--      <input type="text" placeholder="email" formControlName="email">-->
  <!--    </div>-->

  <!--    <div>-->
  <!--      <input type="text" placeholder="phone" formControlName="phone">-->
  <!--    </div>-->
  <!--  </div>-->


  <div formGroupName="userContactInfo">
    <input type="text" placeholder="email" formControlName="email">
    <div *ngIf="form.get('userContactInfo.email')?.getError('required') && form.get('userContactInfo.email')?.touched">
      Email is required
    </div>
    <div *ngIf="form.get('userContactInfo.email')?.getError('email') && form.get('userContactInfo.email')?.touched">
      Email format is invalid
    </div>
  </div>

  <div formGroupName="userContactInfo">
    <input type="text" placeholder="phone" formControlName="phone">
    <div *ngIf="form.get('userContactInfo.phone')?.getError('required') && form.get('userContactInfo.phone')?.touched">
      Phone is required
    </div>
    <div *ngIf="form.get('userContactInfo.phone')?.getError('minlength') && form.get('userContactInfo.phone')?.touched">
      Phone min length is 9
    </div>
    <div *ngIf="form.get('userContactInfo.phone')?.getError('maxlength') && form.get('userContactInfo.phone')?.touched">
      Phone max length is 12
    </div>
    <div *ngIf="form.get('userContactInfo.phone')?.getError('pattern') && form.get('userContactInfo.phone')?.touched">
      Phone pattern is invalid
    </div>
  </div>
  <button type="button" (click)="addExperience()">Add Experience</button>
  <div formArrayName="experience">
    <ng-container *ngFor="let group of experienceFormArray.controls; let i = index">
      <div [formGroupName]="i">
        <div>
          <input type="text" placeholder="company" formControlName="company">
          <div *ngIf="group.get('company')?.getError('required') && group.get('company')?.touched">
            company is required
          </div>
        </div>

        <div>
          <input type="text" placeholder="years" formControlName="years">
          <div *ngIf="group.get('years')?.getError('required') && group.get('years')?.touched">
            years is required
          </div>
        </div>
        <button type="button" (click)="removeExperience(i)">Remove Experience</button>
      </div>
    </ng-container>
  </div>

  <div>
    <button type="submit" [disabled]="form.invalid">Submit</button>
  </div>
</form>

Valid: {{ form.valid }}


<pre>
  {{ form.value | json }}
</pre>
